<div class="breadcrums"><a routerLink="/">Home</a> > {{title}}</div>

<h1>Add your App</h1>

<form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="prise">Prise</label>
        <input type="text" class="form-control" id="prise" required>
      </div>

      <div class="form-group">
        <label for="rate">Rate</label>
        <input type="text" class="form-control" id="rate" required>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" required>
      </div>

      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="text" class="form-control" id="photo" required>
      </div>

      <div class="form-group">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="text" required>
      </div>

</form>