<div class="breadcrums"><a routerLink="/">Home</a> > {{title}}</div>

<h1>Add your App</h1>

<form id="addapp">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="prise">Prise</label>
        <input type="text" class="form-control" id="prise" required>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" required>
      </div>

      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="text" class="form-control" id="photo" required>
      </div>

      <div class="form-group">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="text" required>
      </div>

      <div class="form-group">
        <input type="submit" value="Send">
      </div>

</form>


  <li class="app" *ngFor="let app of test">
    <div class="app--name">{{app.name}}</div>
  </li>