<header>
  <div class="logo">
    <h1>
      {{title}}
    </h1>    
  </div>

  <div id="work--panel">
    <div id="panel--info">

    </div>
    <div id="panel--autification">

    </div>
  </div>
</header>

<aside>
  <nav>
    <ul id="main-nav--router--links">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">home</i> Home</a></li>
      <li><a routerLink="/dashbroad" routerLinkActive="active-link"><i class="material-icons">data_usage</i> Dashbroad</a></li>
      <li><a routerLink="/user-profile" routerLinkActive="active-link"><i class="material-icons">supervisor_account</i> User profile</a></li>
      <li><a routerLink="/market-place" routerLinkActive="active-link"><i class="material-icons">shopping_cart</i> Market place</a></li>
      <li><a routerLink="/add-app" routerLinkActive="active-link"><i class="material-icons">library_add</i> Add app</a></li>
      <li><a routerLink="/upgrate-to-pro" routerLinkActive="active-link"><i class="material-icons">developer_mode</i> Upgrate to pro</a></li>
    </ul>
  </nav>
</aside>

<main>
  <router-outlet></router-outlet>
</main>


<footer>
  <div id="copyright">2017</div>
</footer>